---
export interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---


<li class="max-w-sm p-4 border rounded-lg shadow bg-gray-800 border-gray-700">
	<div class="text-emerald-400 bg-gray-700 w-fit p-2 rounded">
		<slot />
	</div>
	<h3 class="my-3 text-xl font-semibold tracking-tight text-white">{title}</h3>
	<p class="font-normal text-sm text-gray-400">{body}</p>
</li>
